@model Domain.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishingYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishingYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.PublisherName)
        </dd>
        <dt class="col-sm-2">
            Authors
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var bookAndAuthor in Model.BookAndAuthors)
                {
                    <li>@bookAndAuthor.Author.FirstLastName</li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Comments (<a asp-action="CreateForBook" asp-controller="Comments" asp-route-bookid="@Model.Id">Add</a>)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var comment in Model.Comments)
                {
                    <li>@comment.CommentBody <a asp-action="Edit" asp-controller="Comments" asp-route-id="@comment.Id">Edit</a></li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>